<body class="login-page">
  <main>
    <section class="left">
      <img src="https://www.linkpicture.com/q/rb.png">
    </section>
    <section class="right">
      <div class="form">
        <div class="greetings">
          Welcome!<br>
          Sign in to continue.
        </div>
        <div class="text">
          Don't have an account?
          <%= link_to "Create an account", signup_path %><br>
          It takes less than a minute.
        </div>
        <%= render "layouts/flash" %>
        <%= form_for(:session, url: login_path) do |form| %>
          <%= form.email_field :email, placeholder: "Email" %>
          <%= form.password_field :password, placeholder: "Password" %>
          <%= form.submit "Sign in" %>
        <% end %>
      </div>
      <%= link_to "< Back to home", root_path, class: "back" %>
    </section>
  </main>
</body>
