<body class="users">
  <%= render "layouts/nav" %>
  <main>
    <% @users.order(created_at: :asc).each do | user | %>
      <div class="container">
        <%= avatar_for(user) %>
        <div class="name"><%= user.full_name %></div>
        <div class="email">Email:
          <%= user.email %></div>
        User since
        <%= user.created_at.strftime("%B %d, %Y") %><br>
        <% if user.posts.empty? %>
          No posts yet
        <% else %>
          Published
          <%= pluralize(user.posts.count, "post") %>
        <% end %>
        <div class="button">
          <%= if user.posts.any?
            link_to "View Wall",
            user_posts_path(user),
            class: "view-profile",
            disabled: true
          end %>
          <% if current_user.admin? %>
            <%= link_to "Delete User",
            user,
            data: {
              turbo_method: :delete,
              turbo_confirm: "Delete user?"
            },
            class: "delete-user" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </main>
  <%= render "layouts/flash" %>
</body>
