<%= turbo_frame_tag post do %>
  <div class="container">
    <div class="top">
      <div class="user">
        <%= avatar_for(post.user) %>
        <div class="details">
          <%= post.user.full_name %>
          <div class="time">
            <% if post.created_at.to_i != post.updated_at.to_i %>
              edited
              <%= distance_of_time_in_words(DateTime.now, post.updated_at) %>
            <% else %>
              created <%= distance_of_time_in_words(DateTime.now, post.created_at) %>
            <% end %>
            ago
          </div>
        </div>
      </div>
      <% if current_user?(post.user) %>
        <div class="options">
          <%= link_to edit_user_post_path(post.user_id, post), :title => "Edit", data: {turbo_frame: "edit_post"} do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to user_post_path(current_user, post), :title => "Delete", data: { turbo_method: :delete, turbo_confirm: "Delete post?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="middle">
      <% if post.images.attached? %>
        <% post.images.each do | image | %>
          <%= image_tag(image, style: "width: 300px") %>
        <% end %>
      <% else %>
        <div class="no-image">No image</div>
      <% end %>
    </div>
    <div class="bottom">
      <div class="title">
        <%= post.title %>
      </div>
      <div class="description">
        <%= post.description %>
      </div>
    </div>
  </div>
<% end %>
