<body class="feed">
  <%= render "layouts/nav" %>
  <main>
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
      <% if @posts.empty? || current_user?(@posts.first.user) %>
        <%= link_to "+",
        new_user_post_path(current_user),
        class: "add-new",
        data: {
          turbo_frame: "add_new_post"
        } %>
      <% end %>
    <% end %>
  </main>
</body>

<%= turbo_frame_tag "add_new_post" %>
<%= turbo_frame_tag "edit_post" %>
