<!DOCTYPE html>
<html>
  <head>
    <title>Toy App</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.linkpicture.com/q/logo_704.png"
    >
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/854e38c6b1.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if controller_name != "sessions" %>
      <%= render "layouts/flash" %>
    <% end %>
    <%= yield %>
  </body>
</html>
